/* Styles */

body {
  font-family: 'Fira Sans', sans-serif;
}

.navbar-brand svg {
  margin-top: -5px;
}

.navbar.navbar-dark {
  background: #383838;
  background: -moz-linear-gradient(45deg,  #383838 0%, #8400d8 100%);
  background: -webkit-linear-gradient(45deg,  #383838 0%,#8400d8 100%);
  background: linear-gradient(45deg,  #383838 0%,#8400d8 100%);
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
}

textarea {
  width: 100%;
  min-height: 300px;
}

/* Text Editor */

figure.image {
  display: inline-block;
  border: 1px solid gray;
  margin: 0 2px 0 1px;
  background: #f5f2f0;
}

figure.align-left {
  float: left;
}

figure.align-right {
  float: right;
}

figure.image img {
  margin: 8px 8px 0 8px;
}

figure.image figcaption {
  margin: 6px 8px 6px 8px;
  text-align: center;
}


/*
 Alignment using classes rather than inline styles
 check out the "formats" option
*/

img.align-left {
  float: left;
}

img.align-right {
  float: right;
}

/* Basic styles for Table of Contents plugin (toc) */
.mce-toc {
  border: 1px solid gray;
}

.mce-toc h2 {
  margin: 4px;
}

.mce-toc li {
  list-style-type: none;
}

/* Utilities */

@media only screen and (min-width: 992px) {
  .w-lg-100 {
    width: 100%;
  }
}
